@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-DTSTIowd7sRm: 16px;
  --plasmic-token-h-2: var(--token-DTSTIowd7sRm);
  --token-F-8-G8-Rsnvk: #2a2b37;
  --plasmic-token-neutral-900: var(--token-F-8-G8-Rsnvk);
  --token-MPQ86SorHUE_: #383848;
  --plasmic-token-neutral-800: var(--token-MPQ86SorHUE_);
  --token-yncUDpbrKMBv: #48485c;
  --plasmic-token-neutral-700: var(--token-yncUDpbrKMBv);
  --token-SFPosZBAAqxr: #5c5d76;
  --plasmic-token-neutral-600: var(--token-SFPosZBAAqxr);
  --token-HBSaVWDRqVW7: #656682;
  --plasmic-token-neutral-500: var(--token-HBSaVWDRqVW7);
  --token-QKSKVStRcat-: #84859b;
  --plasmic-token-neutral-400: var(--token-QKSKVStRcat-);
  --token-MavzNZFPQWCC: #9898ab;
  --plasmic-token-neutral-300: var(--token-MavzNZFPQWCC);
  --token-L08MoXDBL2W8: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-L08MoXDBL2W8);
  --token-xzqWQgY3NPTH: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-xzqWQgY3NPTH);
  --token-_xoDrI_BfZdP: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-_xoDrI_BfZdP);
  --token-z6rUccM7OSJ6: 14px;
  --plasmic-token-body-small: var(--token-z6rUccM7OSJ6);
  --token-m07ranajb-PO: 20px;
  --plasmic-token-body-small-2: var(--token-m07ranajb-PO);
  --token-i-EUlq7rDmP-: #01471e;
  --plasmic-token-success-text: var(--token-i-EUlq7rDmP-);
  --token-_yqoD1Z7WLM6: #dffbea;
  --plasmic-token-success-bg: var(--token-_yqoD1Z7WLM6);
  --token-zmepzdqkTVmq: #aff5cb;
  --plasmic-token-success-200: var(--token-zmepzdqkTVmq);
  --token-tUZIlo04WBCZ: #87efb1;
  --plasmic-token-success-300: var(--token-tUZIlo04WBCZ);
  --token-SA4xDkfmHrxs: #5fea97;
  --plasmic-token-success-400: var(--token-SA4xDkfmHrxs);
  --token-vGnpZCWgw_mi: #37e57d;
  --plasmic-token-success-500: var(--token-vGnpZCWgw_mi);
  --token-Z4m3B8hX07__: #24bf63;
  --plasmic-token-success-600: var(--token-Z4m3B8hX07__);
  --token-liHDP2wn32V_: #159649;
  --plasmic-token-success-700: var(--token-liHDP2wn32V_);
  --token-kxWYE6aJMMyV: #096e32;
  --plasmic-token-success-800: var(--token-kxWYE6aJMMyV);
  --token-xT_TDO2Zz-i-: #d7faf8;
  --plasmic-token-secondary-100: var(--token-xT_TDO2Zz-i-);
  --token-88O6lx7Kj7BU: #aff5f0;
  --plasmic-token-secondary-200: var(--token-88O6lx7Kj7BU);
  --token-z-_25gRQRHsF: #87efe8;
  --plasmic-token-secondary-300: var(--token-z-_25gRQRHsF);
  --token-FNGIKQF4ecgG: #5feae1;
  --plasmic-token-secondary-400: var(--token-FNGIKQF4ecgG);
  --token-rd8Fw9p_HXqS: #37e5db;
  --plasmic-token-secondary-500: var(--token-rd8Fw9p_HXqS);
  --token-5BDg6tLSVIQL: #24bfb5;
  --plasmic-token-secondary-600: var(--token-5BDg6tLSVIQL);
  --token-PCEzVSYvS1SJ: #15968e;
  --plasmic-token-secondary-700: var(--token-PCEzVSYvS1SJ);
  --token-oajBp_S55oRY: #096e67;
  --plasmic-token-secondary-800: var(--token-oajBp_S55oRY);
  --token-ANY3sw_GF2Fh: #014743;
  --plasmic-token-secondary-900: var(--token-ANY3sw_GF2Fh);
  --token-S6acamq_ot7t: #d8d8fa;
  --plasmic-token-primary-100: var(--token-S6acamq_ot7t);
  --token-2WjduH6IkbDj: #b0b1f4;
  --plasmic-token-primary-200: var(--token-2WjduH6IkbDj);
  --token-7j80sXDKivES: #898bef;
  --plasmic-token-primary-300: var(--token-7j80sXDKivES);
  --token-s3GhtQcO5w5j: #6164e9;
  --plasmic-token-primary-400: var(--token-s3GhtQcO5w5j);
  --token-0Twl9sGvXlJe: #3a3de4;
  --plasmic-token-primary-500: var(--token-0Twl9sGvXlJe);
  --token-8KJQKxo7Qj2E: #2225bf;
  --plasmic-token-primary-600: var(--token-8KJQKxo7Qj2E);
  --token-k9BebnUiun64: #141696;
  --plasmic-token-primary-700: var(--token-k9BebnUiun64);
  --token-thqkMYJhj0Xf: #08096e;
  --plasmic-token-primary-800: var(--token-thqkMYJhj0Xf);
  --token-F245gKH-IyTS: #010347;
  --plasmic-token-primary-900: var(--token-F245gKH-IyTS);
  --token-Sr60oAhY8X1n: #f2f3fd;
  --plasmic-token-primary-050: var(--token-Sr60oAhY8X1n);
  --token-Hn1XN7E16dHZ: #faf6d7;
  --plasmic-token-warning-100: var(--token-Hn1XN7E16dHZ);
  --token-0EpSfQ6KShbD: #f5eeaf;
  --plasmic-token-warning-200: var(--token-0EpSfQ6KShbD);
  --token-wuxY0Dcoww7J: #efe587;
  --plasmic-token-warning-300: var(--token-wuxY0Dcoww7J);
  --token-l-qOJ5zdnaY4: #eadd5f;
  --plasmic-token-warning-400: var(--token-l-qOJ5zdnaY4);
  --token-LB4WQqmicGXT: #e5d437;
  --plasmic-token-warning-500: var(--token-LB4WQqmicGXT);
  --token-ivGdevWg-muM: #bfb024;
  --plasmic-token-warning-600: var(--token-ivGdevWg-muM);
  --token-AcOkN5Cq6v6g: #998c15;
  --plasmic-token-warning-700: var(--token-AcOkN5Cq6v6g);
  --token-B92jJuxKDcL4: #6e6408;
  --plasmic-token-warning-800: var(--token-B92jJuxKDcL4);
  --token-q85LV9fqsoi3: #383302;
  --plasmic-token-warning-900: var(--token-q85LV9fqsoi3);
  --token-o0fHPUWpd6db: #fad7d7;
  --plasmic-token-danger-100: var(--token-o0fHPUWpd6db);
  --token-TfXVU9QoXV72: #f18787;
  --plasmic-token-danger-300: var(--token-TfXVU9QoXV72);
  --token-iDa-RZCr9ETu: #f6afaf;
  --plasmic-token-danger-200: var(--token-iDa-RZCr9ETu);
  --token-Svq_8LpCrGIi: #ed6060;
  --plasmic-token-danger-400: var(--token-Svq_8LpCrGIi);
  --token-lx5dWvF4FX8c: #e83838;
  --plasmic-token-danger-500: var(--token-lx5dWvF4FX8c);
  --token-hZoFmbINFF7q: #c22525;
  --plasmic-token-danger-600: var(--token-hZoFmbINFF7q);
  --token-OvSOOkKqXqKq: #9c1616;
  --plasmic-token-danger-700: var(--token-OvSOOkKqXqKq);
  --token-CLpVgze-8CWb: #6b0707;
  --plasmic-token-danger-800: var(--token-CLpVgze-8CWb);
  --token-4_jPHWczQA0M: #360202;
  --plasmic-token-danger-900: var(--token-4_jPHWczQA0M);
  --token-OkMEDUmQekQR: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-OkMEDUmQekQR);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-BaQMfvoAGbjN-664t7_font-family: "Inter", sans-serif;
  --mixin-BaQMfvoAGbjN-664t7_font-size: 14px;
  --mixin-BaQMfvoAGbjN-664t7_font-weight: 400;
  --mixin-BaQMfvoAGbjN-664t7_font-style: normal;
  --mixin-BaQMfvoAGbjN-664t7_color: var(--token-MavzNZFPQWCC);
  --mixin-BaQMfvoAGbjN-664t7_text-align: left;
  --mixin-BaQMfvoAGbjN-664t7_text-transform: none;
  --mixin-BaQMfvoAGbjN-664t7_line-height: 21px;
  --mixin-BaQMfvoAGbjN-664t7_letter-spacing: -0.6%;
  --mixin-BaQMfvoAGbjN-664t7_white-space: pre-wrap;
  --mixin-BaQMfvoAGbjN-664t7_user-select: text;
  --mixin-BaQMfvoAGbjN-664t7_text-decoration-line: none;
  --mixin-BaQMfvoAGbjN-664t7_text-overflow: clip;
  --mixin-c2_Q9BByeQzt-664t7_color: var(--token-F-8-G8-Rsnvk);
  --mixin-c2_Q9BByeQzt-664t7_font-weight: 600;
  --mixin-c2_Q9BByeQzt-664t7_font-size: 26px;
  --mixin-c2_Q9BByeQzt-664t7_line-height: 32px;
  --mixin-c2_Q9BByeQzt-664t7_letter-spacing: -1%;
  --mixin-c2_Q9BByeQzt-664t7_white-space: pre-wrap;
  --mixin-VreLQEwGeTrA-664t7_color: var(--token-F-8-G8-Rsnvk);
  --mixin-VreLQEwGeTrA-664t7_font-size: 23px;
  --mixin-VreLQEwGeTrA-664t7_font-weight: 700;
  --mixin-VreLQEwGeTrA-664t7_line-height: 28px;
  --mixin-VreLQEwGeTrA-664t7_font-family: "Inter", sans-serif;
  --mixin-VreLQEwGeTrA-664t7_letter-spacing: -1%;
  --mixin-VreLQEwGeTrA-664t7_white-space: pre-wrap;
  --mixin-ZLmPqAI1HHoF-664t7_color: #0070f3;
  --mixin-ZLmPqAI1HHoF-664t7_white-space: pre-wrap;
  --mixin-y9VSo15gsUpY-664t7_color: var(--token-F-8-G8-Rsnvk);
  --mixin-y9VSo15gsUpY-664t7_font-size: 20px;
  --mixin-y9VSo15gsUpY-664t7_font-weight: 700;
  --mixin-y9VSo15gsUpY-664t7_line-height: 24px;
  --mixin-y9VSo15gsUpY-664t7_letter-spacing: -1%;
  --mixin-y9VSo15gsUpY-664t7_font-family: "Inter", sans-serif;
  --mixin-y9VSo15gsUpY-664t7_white-space: pre-wrap;
  --mixin-22xrzkjYnG_u-664t7_color: var(--token-F-8-G8-Rsnvk);
  --mixin-22xrzkjYnG_u-664t7_font-size: 18px;
  --mixin-22xrzkjYnG_u-664t7_font-weight: 700;
  --mixin-22xrzkjYnG_u-664t7_line-height: 24px;
  --mixin-22xrzkjYnG_u-664t7_letter-spacing: -1%;
  --mixin-22xrzkjYnG_u-664t7_font-family: "Inter", sans-serif;
  --mixin-22xrzkjYnG_u-664t7_white-space: pre-wrap;
  --mixin-ZD2HE-LYBXp2-664t7_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ZD2HE-LYBXp2-664t7_border-bottom-color: #dddddd;
  --mixin-ZD2HE-LYBXp2-664t7_border-bottom-style: solid;
  --mixin-ZD2HE-LYBXp2-664t7_border-bottom-width: 1px;
  --mixin-ZD2HE-LYBXp2-664t7_border-left-color: #dddddd;
  --mixin-ZD2HE-LYBXp2-664t7_border-left-style: solid;
  --mixin-ZD2HE-LYBXp2-664t7_border-left-width: 1px;
  --mixin-ZD2HE-LYBXp2-664t7_border-right-color: #dddddd;
  --mixin-ZD2HE-LYBXp2-664t7_border-right-style: solid;
  --mixin-ZD2HE-LYBXp2-664t7_border-right-width: 1px;
  --mixin-ZD2HE-LYBXp2-664t7_border-top-color: #dddddd;
  --mixin-ZD2HE-LYBXp2-664t7_border-top-style: solid;
  --mixin-ZD2HE-LYBXp2-664t7_border-top-width: 1px;
  --mixin-ZD2HE-LYBXp2-664t7_border-bottom-left-radius: 3px;
  --mixin-ZD2HE-LYBXp2-664t7_border-bottom-right-radius: 3px;
  --mixin-ZD2HE-LYBXp2-664t7_border-top-left-radius: 3px;
  --mixin-ZD2HE-LYBXp2-664t7_border-top-right-radius: 3px;
  --mixin-ZD2HE-LYBXp2-664t7_font-family: "Inconsolata";
  --mixin-ZD2HE-LYBXp2-664t7_padding-bottom: 1px;
  --mixin-ZD2HE-LYBXp2-664t7_padding-left: 4px;
  --mixin-ZD2HE-LYBXp2-664t7_padding-right: 4px;
  --mixin-ZD2HE-LYBXp2-664t7_padding-top: 1px;
  --mixin-ZD2HE-LYBXp2-664t7_white-space: pre-wrap;
  --mixin-x7a209zhv3kp-664t7_border-left-color: #dddddd;
  --mixin-x7a209zhv3kp-664t7_border-left-style: solid;
  --mixin-x7a209zhv3kp-664t7_border-left-width: 3px;
  --mixin-x7a209zhv3kp-664t7_color: #888888;
  --mixin-x7a209zhv3kp-664t7_padding-left: 10px;
  --mixin-x7a209zhv3kp-664t7_white-space: pre-wrap;
  --mixin-1wU7vmP0z9X5-664t7_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-1wU7vmP0z9X5-664t7_border-bottom-color: #dddddd;
  --mixin-1wU7vmP0z9X5-664t7_border-bottom-style: solid;
  --mixin-1wU7vmP0z9X5-664t7_border-bottom-width: 1px;
  --mixin-1wU7vmP0z9X5-664t7_border-left-color: #dddddd;
  --mixin-1wU7vmP0z9X5-664t7_border-left-style: solid;
  --mixin-1wU7vmP0z9X5-664t7_border-left-width: 1px;
  --mixin-1wU7vmP0z9X5-664t7_border-right-color: #dddddd;
  --mixin-1wU7vmP0z9X5-664t7_border-right-style: solid;
  --mixin-1wU7vmP0z9X5-664t7_border-right-width: 1px;
  --mixin-1wU7vmP0z9X5-664t7_border-top-color: #dddddd;
  --mixin-1wU7vmP0z9X5-664t7_border-top-style: solid;
  --mixin-1wU7vmP0z9X5-664t7_border-top-width: 1px;
  --mixin-1wU7vmP0z9X5-664t7_border-bottom-left-radius: 3px;
  --mixin-1wU7vmP0z9X5-664t7_border-bottom-right-radius: 3px;
  --mixin-1wU7vmP0z9X5-664t7_border-top-left-radius: 3px;
  --mixin-1wU7vmP0z9X5-664t7_border-top-right-radius: 3px;
  --mixin-1wU7vmP0z9X5-664t7_font-family: "Inconsolata";
  --mixin-1wU7vmP0z9X5-664t7_padding-bottom: 3px;
  --mixin-1wU7vmP0z9X5-664t7_padding-left: 6px;
  --mixin-1wU7vmP0z9X5-664t7_padding-right: 6px;
  --mixin-1wU7vmP0z9X5-664t7_padding-top: 3px;
  --mixin-1wU7vmP0z9X5-664t7_white-space: pre-wrap;
  --mixin-JDIVigTbCO-9-664t7_display: flex;
  --mixin-JDIVigTbCO-9-664t7_flex-direction: column;
  --mixin-JDIVigTbCO-9-664t7_align-items: stretch;
  --mixin-JDIVigTbCO-9-664t7_justify-content: flex-start;
  --mixin-JDIVigTbCO-9-664t7_list-style-position: outside;
  --mixin-JDIVigTbCO-9-664t7_padding-left: 40px;
  --mixin-JDIVigTbCO-9-664t7_position: relative;
  --mixin-JDIVigTbCO-9-664t7_list-style-type: disc;
  --mixin-JDIVigTbCO-9-664t7_white-space: pre-wrap;
  --mixin-pF3YgXVxRLcb-664t7_display: flex;
  --mixin-pF3YgXVxRLcb-664t7_flex-direction: column;
  --mixin-pF3YgXVxRLcb-664t7_align-items: stretch;
  --mixin-pF3YgXVxRLcb-664t7_justify-content: flex-start;
  --mixin-pF3YgXVxRLcb-664t7_list-style-position: outside;
  --mixin-pF3YgXVxRLcb-664t7_padding-left: 40px;
  --mixin-pF3YgXVxRLcb-664t7_position: relative;
  --mixin-pF3YgXVxRLcb-664t7_list-style-type: decimal;
  --mixin-pF3YgXVxRLcb-664t7_white-space: pre-wrap;
  --mixin-RmST-Pgsdz9R-664t7_color: var(--token-MPQ86SorHUE_);
  --mixin-RmST-Pgsdz9R-664t7_font-size: 16px;
  --mixin-RmST-Pgsdz9R-664t7_font-weight: 600;
  --mixin-RmST-Pgsdz9R-664t7_line-height: 20px;
  --mixin-RmST-Pgsdz9R-664t7_letter-spacing: -1%;
  --mixin-RmST-Pgsdz9R-664t7_font-family: "Inter", sans-serif;
  --mixin-RmST-Pgsdz9R-664t7_white-space: pre-wrap;
  --mixin-0md2fFh_AX9_-664t7_color: var(--token-F-8-G8-Rsnvk);
  --mixin-0md2fFh_AX9_-664t7_font-size: 14px;
  --mixin-0md2fFh_AX9_-664t7_font-weight: 600;
  --mixin-0md2fFh_AX9_-664t7_line-height: 20px;
  --mixin-0md2fFh_AX9_-664t7_letter-spacing: 1%;
  --mixin-0md2fFh_AX9_-664t7_font-family: "Inter", sans-serif;
  --mixin-0md2fFh_AX9_-664t7_white-space: pre-wrap;
  --mixin-Ffd7GIjuzIlx-664t7_color: #3291ff;
  --mixin-Ffd7GIjuzIlx-664t7_white-space: pre-wrap;
  --mixin-RA7WoegPwB-w-664t7_white-space: pre-wrap;
  --mixin-FNV9B8aIMX2I-664t7_color: var(--token-yncUDpbrKMBv);
  --mixin-FNV9B8aIMX2I-664t7_font-family: "Inter", sans-serif;
  --mixin-FNV9B8aIMX2I-664t7_font-weight: 500;
  --mixin-FNV9B8aIMX2I-664t7_font-size: 16px;
  --mixin-FNV9B8aIMX2I-664t7_line-height: 24px;
  --mixin-FNV9B8aIMX2I-664t7_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-PLrrPqQku9Tf_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-PLrrPqQku9Tf_white-space);
  --mixin-8ifSUYa6UbYL_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-8ifSUYa6UbYL_white-space);
  --mixin-JRlj42xi7KnI_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-JRlj42xi7KnI_box-shadow);
  --mixin-JRlj42xi7KnI_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-JRlj42xi7KnI_white-space
  );
  --mixin-kGBHJQPQb7nW_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-kGBHJQPQb7nW_white-space);
  --mixin-eYIrV36PRVua_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-eYIrV36PRVua_white-space);
  --mixin-JaRjeLELbiaQ_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-JaRjeLELbiaQ_box-shadow
  );
  --mixin-JaRjeLELbiaQ_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-JaRjeLELbiaQ_white-space
  );
  --mixin-J1-mxWVFxJ7s_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-J1-mxWVFxJ7s_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-BaQMfvoAGbjN-664t7_font-family);
  font-size: var(--mixin-BaQMfvoAGbjN-664t7_font-size);
  font-weight: var(--mixin-BaQMfvoAGbjN-664t7_font-weight);
  font-style: var(--mixin-BaQMfvoAGbjN-664t7_font-style);
  color: var(--mixin-BaQMfvoAGbjN-664t7_color);
  text-align: var(--mixin-BaQMfvoAGbjN-664t7_text-align);
  text-transform: var(--mixin-BaQMfvoAGbjN-664t7_text-transform);
  line-height: var(--mixin-BaQMfvoAGbjN-664t7_line-height);
  letter-spacing: var(--mixin-BaQMfvoAGbjN-664t7_letter-spacing);
  white-space: var(--mixin-BaQMfvoAGbjN-664t7_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-c2_Q9BByeQzt-664t7_color);
  font-weight: var(--mixin-c2_Q9BByeQzt-664t7_font-weight);
  font-size: var(--mixin-c2_Q9BByeQzt-664t7_font-size);
  line-height: var(--mixin-c2_Q9BByeQzt-664t7_line-height);
  letter-spacing: var(--mixin-c2_Q9BByeQzt-664t7_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-VreLQEwGeTrA-664t7_color);
  font-size: var(--mixin-VreLQEwGeTrA-664t7_font-size);
  font-weight: var(--mixin-VreLQEwGeTrA-664t7_font-weight);
  line-height: var(--mixin-VreLQEwGeTrA-664t7_line-height);
  font-family: var(--mixin-VreLQEwGeTrA-664t7_font-family);
  letter-spacing: var(--mixin-VreLQEwGeTrA-664t7_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-ZLmPqAI1HHoF-664t7_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-y9VSo15gsUpY-664t7_color);
  font-size: var(--mixin-y9VSo15gsUpY-664t7_font-size);
  font-weight: var(--mixin-y9VSo15gsUpY-664t7_font-weight);
  line-height: var(--mixin-y9VSo15gsUpY-664t7_line-height);
  letter-spacing: var(--mixin-y9VSo15gsUpY-664t7_letter-spacing);
  font-family: var(--mixin-y9VSo15gsUpY-664t7_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-22xrzkjYnG_u-664t7_color);
  font-size: var(--mixin-22xrzkjYnG_u-664t7_font-size);
  font-weight: var(--mixin-22xrzkjYnG_u-664t7_font-weight);
  line-height: var(--mixin-22xrzkjYnG_u-664t7_line-height);
  letter-spacing: var(--mixin-22xrzkjYnG_u-664t7_letter-spacing);
  font-family: var(--mixin-22xrzkjYnG_u-664t7_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ZD2HE-LYBXp2-664t7_font-family);
  border-radius: var(--mixin-ZD2HE-LYBXp2-664t7_border-top-left-radius)
    var(--mixin-ZD2HE-LYBXp2-664t7_border-top-right-radius)
    var(--mixin-ZD2HE-LYBXp2-664t7_border-bottom-right-radius)
    var(--mixin-ZD2HE-LYBXp2-664t7_border-bottom-left-radius);
  padding: var(--mixin-ZD2HE-LYBXp2-664t7_padding-top)
    var(--mixin-ZD2HE-LYBXp2-664t7_padding-right)
    var(--mixin-ZD2HE-LYBXp2-664t7_padding-bottom)
    var(--mixin-ZD2HE-LYBXp2-664t7_padding-left);
  border-top: var(--mixin-ZD2HE-LYBXp2-664t7_border-top-width)
    var(--mixin-ZD2HE-LYBXp2-664t7_border-top-style)
    var(--mixin-ZD2HE-LYBXp2-664t7_border-top-color);
  border-right: var(--mixin-ZD2HE-LYBXp2-664t7_border-right-width)
    var(--mixin-ZD2HE-LYBXp2-664t7_border-right-style)
    var(--mixin-ZD2HE-LYBXp2-664t7_border-right-color);
  border-bottom: var(--mixin-ZD2HE-LYBXp2-664t7_border-bottom-width)
    var(--mixin-ZD2HE-LYBXp2-664t7_border-bottom-style)
    var(--mixin-ZD2HE-LYBXp2-664t7_border-bottom-color);
  border-left: var(--mixin-ZD2HE-LYBXp2-664t7_border-left-width)
    var(--mixin-ZD2HE-LYBXp2-664t7_border-left-style)
    var(--mixin-ZD2HE-LYBXp2-664t7_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-x7a209zhv3kp-664t7_color);
  padding-left: var(--mixin-x7a209zhv3kp-664t7_padding-left);
  border-left: var(--mixin-x7a209zhv3kp-664t7_border-left-width)
    var(--mixin-x7a209zhv3kp-664t7_border-left-style)
    var(--mixin-x7a209zhv3kp-664t7_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-1wU7vmP0z9X5-664t7_font-family);
  border-radius: var(--mixin-1wU7vmP0z9X5-664t7_border-top-left-radius)
    var(--mixin-1wU7vmP0z9X5-664t7_border-top-right-radius)
    var(--mixin-1wU7vmP0z9X5-664t7_border-bottom-right-radius)
    var(--mixin-1wU7vmP0z9X5-664t7_border-bottom-left-radius);
  padding: var(--mixin-1wU7vmP0z9X5-664t7_padding-top)
    var(--mixin-1wU7vmP0z9X5-664t7_padding-right)
    var(--mixin-1wU7vmP0z9X5-664t7_padding-bottom)
    var(--mixin-1wU7vmP0z9X5-664t7_padding-left);
  border-top: var(--mixin-1wU7vmP0z9X5-664t7_border-top-width)
    var(--mixin-1wU7vmP0z9X5-664t7_border-top-style)
    var(--mixin-1wU7vmP0z9X5-664t7_border-top-color);
  border-right: var(--mixin-1wU7vmP0z9X5-664t7_border-right-width)
    var(--mixin-1wU7vmP0z9X5-664t7_border-right-style)
    var(--mixin-1wU7vmP0z9X5-664t7_border-right-color);
  border-bottom: var(--mixin-1wU7vmP0z9X5-664t7_border-bottom-width)
    var(--mixin-1wU7vmP0z9X5-664t7_border-bottom-style)
    var(--mixin-1wU7vmP0z9X5-664t7_border-bottom-color);
  border-left: var(--mixin-1wU7vmP0z9X5-664t7_border-left-width)
    var(--mixin-1wU7vmP0z9X5-664t7_border-left-style)
    var(--mixin-1wU7vmP0z9X5-664t7_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-JDIVigTbCO-9-664t7_display);
  flex-direction: var(--mixin-JDIVigTbCO-9-664t7_flex-direction);
  align-items: var(--mixin-JDIVigTbCO-9-664t7_align-items);
  justify-content: var(--mixin-JDIVigTbCO-9-664t7_justify-content);
  list-style-position: var(--mixin-JDIVigTbCO-9-664t7_list-style-position);
  padding-left: var(--mixin-JDIVigTbCO-9-664t7_padding-left);
  position: var(--mixin-JDIVigTbCO-9-664t7_position);
  list-style-type: var(--mixin-JDIVigTbCO-9-664t7_list-style-type);
  flex-column-gap: var(--mixin-JDIVigTbCO-9-664t7_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-pF3YgXVxRLcb-664t7_display);
  flex-direction: var(--mixin-pF3YgXVxRLcb-664t7_flex-direction);
  align-items: var(--mixin-pF3YgXVxRLcb-664t7_align-items);
  justify-content: var(--mixin-pF3YgXVxRLcb-664t7_justify-content);
  list-style-position: var(--mixin-pF3YgXVxRLcb-664t7_list-style-position);
  padding-left: var(--mixin-pF3YgXVxRLcb-664t7_padding-left);
  position: var(--mixin-pF3YgXVxRLcb-664t7_position);
  list-style-type: var(--mixin-pF3YgXVxRLcb-664t7_list-style-type);
  flex-column-gap: var(--mixin-pF3YgXVxRLcb-664t7_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-RmST-Pgsdz9R-664t7_color);
  font-size: var(--mixin-RmST-Pgsdz9R-664t7_font-size);
  font-weight: var(--mixin-RmST-Pgsdz9R-664t7_font-weight);
  line-height: var(--mixin-RmST-Pgsdz9R-664t7_line-height);
  letter-spacing: var(--mixin-RmST-Pgsdz9R-664t7_letter-spacing);
  font-family: var(--mixin-RmST-Pgsdz9R-664t7_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-0md2fFh_AX9_-664t7_color);
  font-size: var(--mixin-0md2fFh_AX9_-664t7_font-size);
  font-weight: var(--mixin-0md2fFh_AX9_-664t7_font-weight);
  line-height: var(--mixin-0md2fFh_AX9_-664t7_line-height);
  letter-spacing: var(--mixin-0md2fFh_AX9_-664t7_letter-spacing);
  font-family: var(--mixin-0md2fFh_AX9_-664t7_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-Ffd7GIjuzIlx-664t7_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-FNV9B8aIMX2I-664t7_color);
  font-family: var(--mixin-FNV9B8aIMX2I-664t7_font-family);
  font-weight: var(--mixin-FNV9B8aIMX2I-664t7_font-weight);
  font-size: var(--mixin-FNV9B8aIMX2I-664t7_font-size);
  line-height: var(--mixin-FNV9B8aIMX2I-664t7_line-height);
}
