.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-_xoDrI_BfZdP);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.pageLayout:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.section__tbf65 {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.section__tbf65 > * {
  grid-column: 4;
}
.freeBox__jx1Y9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.section__gqCtk {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 12px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 24px 0 0px;
}
.section__gqCtk > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__gqCtk > * {
    grid-column: 4;
  }
}
.freeBox__a9YOk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-OkMEDUmQekQR);
  min-width: 0;
  border-radius: 8px;
  padding: 8px 16px;
}
.freeBox__cSnk3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2___6Z2UQ {
  color: var(--token-MPQ86SorHUE_);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  height: auto;
  width: auto;
}
.freeBox__l0Row {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__l0Row > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__l0Row > :global(.__wab_flex-container) > *,
.freeBox__l0Row > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l0Row > :global(.__wab_flex-container) > picture > img,
.freeBox__l0Row
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.start:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.end:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__o2Z0Q {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBox__o2Z0Q > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__o2Z0Q > :global(.__wab_flex-container) > *,
.freeBox__o2Z0Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o2Z0Q > :global(.__wab_flex-container) > picture > img,
.freeBox__o2Z0Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o2Z0Q {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o2Z0Q > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o2Z0Q > :global(.__wab_flex-container) > *,
  .freeBox__o2Z0Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__o2Z0Q > :global(.__wab_flex-container) > picture > img,
  .freeBox__o2Z0Q
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.statistic___1NwTl:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__oUdr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  min-width: 0;
  padding: 0px;
}
.text__o8Gd {
  color: var(--token-MPQ86SorHUE_);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__i6EFa {
  position: relative;
  object-fit: cover;
  max-width: 24px;
  max-height: 24px;
}
.img__i6EFa > picture > img {
  object-fit: cover;
}
.h2__dACzm {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  position: relative;
  color: #000000;
  font-weight: 700;
  min-width: 0;
  padding: 0px;
}
.statistic__vHkR:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__amURy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  min-width: 0;
  padding: 0px;
}
.text__vhyg1 {
  color: var(--token-MPQ86SorHUE_);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__noVhf {
  position: relative;
  object-fit: cover;
  max-width: 24px;
  max-height: 24px;
}
.img__noVhf > picture > img {
  object-fit: cover;
}
.h2__ru55Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  min-width: 0;
  padding: 0px;
}
.statistic__kKxNg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__uyd1A {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  min-width: 0;
  padding: 0px;
}
.text__eAg5U {
  color: var(--token-MPQ86SorHUE_);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__ngOj {
  position: relative;
  object-fit: cover;
  max-width: 24px;
  max-height: 24px;
}
.img__ngOj > picture > img {
  object-fit: cover;
}
.freeBox__qiMd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2__aChmp {
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  width: auto;
}
.section__lqC2N {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 16px 0 8px;
}
.section__lqC2N > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__lqC2N > * {
    grid-column: 4;
  }
}
.freeBox__ctXvj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 16px 24px;
  border: 1px solid #eff0f6;
}
.freeBox__ctXvj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ctXvj > :global(.__wab_flex-container) > *,
.freeBox__ctXvj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ctXvj > :global(.__wab_flex-container) > picture > img,
.freeBox__ctXvj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__popeW {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2___2G5X1 {
  color: var(--token-MPQ86SorHUE_);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  padding-right: 0px;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.chart__b8F06:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.section___5Iz1 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 48px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0 0px;
}
.section___5Iz1 > * {
  grid-column: 4;
}
.freeBox__eZukm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 16px 24px;
  border: 1px solid #eff0f6;
}
.freeBox__eZukm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__eZukm > :global(.__wab_flex-container) > *,
.freeBox__eZukm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eZukm > :global(.__wab_flex-container) > picture > img,
.freeBox__eZukm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__lvtq3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2__t7Ggq {
  color: var(--token-MPQ86SorHUE_);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chart__u6RBa:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
